# Configuration for the openresty-nginx and auth proxy

# base 64 encoded cd user name with read rights to git / bitbucket
CD_USER_ID=cd_user_base64
# base 64 encoded cd user password with read rights to git / bitbucket
CD_USER_PWD=changeme_base64
