##################################################################################
# Global configuration for the open dev stack setup - all common params are here #
##################################################################################

# GIT repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front of opendevstack/..
REPO_BASE=http://cd_user@192.168.56.31:7990/scm

# Nexus host without protocol - which is attached based on the configuration in the route.yml
NEXUS_HOST=nexus-cd.192.168.99.100.nip.io

# Nexus URL exposed by the NEXUS route
NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io

###################################################
# Nexus credentials                               #
###################################################

# username and password for nexus - in order to grab artifacts
NEXUS_USERNAME=developer
NEXUS_PASSWORD=developer

# Host without protocol exposed by the sonarqube route
SONARQUBE_HOST=sonarqube-cd.192.168.99.100.nip.io

# Sonarqube URL exposed by the sonarqube route
SONARQUBE_URL=https://sonarqube-cd.192.168.99.100.nip.io

# CROWD server url
CROWD_URL=http://192.168.56.31:8095/crowd

# docker registry host and port
DOCKER_REGISTRY=docker-registry.default.svc:5000

# Bitbucket host without protocol
BITBUCKET_HOST=192.168.56.31:7990

#########################################
# Bitbucket / GIT user for checkout     #
#########################################

# base 64 encoded cd user name with read rights to git / bitbucket
CD_USER_ID=cd_user_base64

# base 64 encoded cd user password with read rights to git / bitbucket
CD_USER_PWD=changeme_base64

# Openshift application base dns - used for grabbing the root ca and adding into the slave
APP_DNS=192.168.99.100.nip.io

# Openshift API DNS - used to communicate from rundeck to oc for provisioning components
OPENSHIFT_API_HOST=https://192.168.99.100:8443

# Host DNS of the openshift console to create the right links
OPENSHIFT_CONSOLE_HOST=https://192.168.99.100:8443

# application domain of open shift for routes 
OPENSHIFT_APPS_BASEDOMAIN=.192.168.99.100.nip.io

#############################
# Storage class for volumes #
#############################

# the storage class provisioner
# for AWS kubernetes.io/aws-ebs
STORAGE_PROVISIONER=""

# storage class for data
# for AWS gp2
STORAGE_CLASS_DATA=""

# storage class for data backup
# for AWS gp2-encrypted
STORAGE_CLASS_BACKUP=""