# Jenkins master & base slave setup

# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com

# configuration which slave dockerfile to use, either .centos7 or .rhel7
JENKINS_SLAVE_BASE_IMAGE=Dockerfile.centos7

# Openshift application base dns - used for grabbing the root ca and adding into the slave
APP_DNS=192.168.99.100.nip.io

# configuration which slave base to use
JENKINS_SLAVE_BASE_FROM_IMAGE=openshift/jenkins-slave-base-centos7:v3.11

# snyk cli binary distribution url
SNYK_DISTRIBUTION_URL=https://github.com/snyk/snyk/releases/download/v1.180.1/snyk-linux

