# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com
JENKINS_SLAVE_BASE_IMAGE=Dockerfile.centos7
# Openshift application base dns
APP_DNS=192.168.99.100.nip.io
