# Jenkins master & base slave setup

# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=http://cd_user@192.168.56.31:7990/scm

# configuration which slave dockerfile to use, either .centos7 or .rhel7
JENKINS_SLAVE_BASE_IMAGE=Dockerfile.centos7

# Openshift application base dns - used for grabbing the root ca and adding into the slave
APP_DNS=192.168.99.100.nip.io
