# Nexus URL exposed by the NEXUS route
NEXUS_URL=http://nexus-cd.192.168.99.100.nip.io

# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com
