JIRA_URI=http://192.168.56.31:8080
CONFLUENCE_URI=http://192.168.56.31:8090
BITBUCKET_URI=http://192.168.56.31:7990
RUNDECK_URI=http://192.168.56.31:4440
CROWD_URL=http://192.168.56.31:8095
OPENSHIFT_API_HOST=https://192.168.99.100:8443
OPENSHIFT_CONSOLE_HOST=https://192.168.99.100:8443
CROWD_USER_GROUP=bitbucket-administrators
CD_USER_ID=cd_user
OPENSHIFT_APPS_BASEDOMAIN=.192.168.99.100.nip.io
PACKAGE_PREFIX=org.opendevstack
ATLASSIAN_DOMAIN=192.168.56.31
CROWD_PASSWORD=changeme
JASYPT_PASSWORD=changeme
MAIL_HOST=opendevstack.org
MAIL_PASSWORD=changeme
MAIL_USERNAME=provision

CROWD_ADMIN_GROUP=opendevstack-administrators
CROWD_USER_GROUP=opendevstack-users

