# JIRA uri - including protocol
JIRA_URI=http://192.168.56.31:8080

# confluence url - including protocol
CONFLUENCE_URI=http://192.168.56.31:8090

# bitbucket url - inncluding protocol
BITBUCKET_URI=http://192.168.56.31:7990
RUNDECK_URI=http://192.168.56.31:4440

# CROWD url
CROWD_URL=http://192.168.56.31:8095
OPENSHIFT_API_HOST=https://192.168.99.100:8443
OPENSHIFT_CONSOLE_HOST=https://192.168.99.100:8443
CROWD_USER_GROUP=bitbucket-administrators
CD_USER_ID=cd_user
OPENSHIFT_APPS_BASEDOMAIN=.192.168.99.100.nip.io
PACKAGE_PREFIX=org.opendevstack
ATLASSIAN_DOMAIN=192.168.56.31
CROWD_PASSWORD=changeme
JASYPT_PASSWORD=changeme
MAIL_HOST=opendevstack.org
MAIL_PASSWORD=changeme
MAIL_USERNAME=provision
