# Provision app setup

# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com

# Jenkins pipeline trigger secret (raw)
PIPELINE_TRIGGER_SECRET=changeme
