
# Nexus URL exposed by the NEXUS route
NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io

# Sonarqube URL exposed by the sonarqube route
SONARQUBE_URL=https://sonarqube-cd.192.168.99.100.nip.io

# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com

# docker registry host and port
DOCKER_REGISTRY=docker-registry.default.svc:5000

# username for nexus
NEXUS_USERNAME=developer

# Bitbucket host without protocol
BITBUCKET_HOST=192.168.56.31:7990
