NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io
SONARQUBE_URL=https://sonarqube-cd.192.168.99.100.nip.io
REPO_BASE=https://github.com
DOCKER_REGISTRY=docker-registry.default.svc:5000
NEXUS_USERNAME=developer
BITBUCKET_HOST=192.168.56.31:7990
