# Provision app setup

# base 64 encoded cd user name with read rights to git / bitbucket
CD_USER_ID=cd_user_base64

# base 64 encoded cd user password with read rights to git / bitbucket
CD_USER_PWD=changeme_base64

# Sonar server auth token
SONAR_SERVER_AUTH_TOKEN=changeme_base64

# Nexus password
NEXUS_PASSWORD=changeme_base64

# Pipeline trigger secret
PIPELINE_TRIGGER_SECRET=changeme_base64
