# Nexus URL exposed by the NEXUS route
NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io

# JIRA URL
JIRA_URL=https://jira.example.com

# DOCGEN NAMESPACE SERVICE URL
DOCGEN_URL=http://docgen.NAMESPACE.svc:8080
