# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com
CD_USER_ID=cd_user_base64
CD_USER_PWD=changeme_base64

# Nexus URL exposed by the nexus route
NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io

# Sonarqube URL exposed by the sonarqube route
SONARQUBE_URL=https://sonarqube-cd.192.168.99.100.nip.io
SONAR_SERVER_AUTH_TOKEN=changme_base64
DOCKER_REGISTRY=docker-registry.default.svc:5000

# rshiny quickstarter
# CROWD url
CROWD_URL=http://192.168.56.31:8095/crowd
CROWD_RSHINY_REALM_NAME=Shiny Test
CROWD_RSHINY_REALM_USER=rshiny_base64
CROWD_RSHINY_REALM_PW=changeme_base64

