# Setup jenkins maven slave

# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com

# Nexus URL exposed by the sonarqube route
NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io

# username and password for nexus - in order to grab / publish artifacts
NEXUS_USERNAME=developer
NEXUS_PASSWORD=developer
