# Setup jenkins maven slave 

# Nexus host without protocol - which is attached based on the configuration in the route.yml
REPO_BASE=https://github.com

# Nexus URL exposed by the sonarqube route
NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io

# username and password for nexus - in order to grab / publish artifacts
NEXUS_USERNAME=developer
NEXUS_PASSWORD=developer
