# Configuration for sonarqube 

OC_PROJECT=cd
# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com

# username and password for sonarqube
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme_base64
AUTH_TOKEN=changeme_base64

# application in crowd used for authn/z 
CROWD_APPLICATION=sonarqube
CROWD_PASSWORD=changeme_base64
CROWD_URL=http://192.168.56.31:8095/crowd

# postgres db for sonarqube
DATABASE_JDBC_URL=jdbc:postgresql://sonarqube-postgresql:5432/sonarqube
DATABASE_NAME=sonarqube
DATABASE_PASSWORD=changeme_base64
DATABASE_USER=sonarqube

# Host without protocol exposed by the sonarqube route
SONARQUBE_HOST=sonarqube-cd.192.168.99.100.nip.io

# the storage class provisioner
# for AWS kubernetes.io/aws-ebs
STORAGE_PROVISIONER=""

# storage class for data
# for AWS gp2
STORAGE_CLASS_DATA=""

# storage class for data backup
# for AWS gp2-encrypted
STORAGE_CLASS_BACKUP=""
