# Configuration for sonarqube 

OC_PROJECT=cd
# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com

# username and password for sonarqube
SONAR_ADMIN_USERNAME=admin
SONAR_ADMIN_PASSWORD_B64=changeme_base64
SONAR_AUTH_TOKEN_B64=changeme_base64

# application in crowd used for authn/z 
SONAR_CROWD_APPLICATION=sonarqube
SONAR_CROWD_PASSWORD_B64=changeme_base64
CROWD_URL=http://192.168.56.31:8095/crowd

# postgres db for sonarqube
SONAR_DATABASE_JDBC_URL=jdbc:postgresql://sonarqube-postgresql:5432/sonarqube
SONAR_DATABASE_NAME=sonarqube
SONAR_DATABASE_PASSWORD_B64=changeme_base64
SONAR_DATABASE_USER=sonarqube

# Host without protocol exposed by the sonarqube route
SONARQUBE_HOST=sonarqube-cd.192.168.99.100.nip.io

# the storage class provisioner
# for AWS kubernetes.io/aws-ebs
STORAGE_PROVISIONER=""

# storage class for data
# for AWS gp2
STORAGE_CLASS_DATA=""

# storage class for data backup
# for AWS gp2-encrypted
STORAGE_CLASS_BACKUP=""

# Sonarqube distribution url.
# Community edition (default): https://binaries.sonarsource.com/Distribution/sonarqube/sonarqube-7.3.zip
# Developer edition: https://binaries.sonarsource.com/CommercialDistribution/sonarqube-developer/sonarqube-developer-7.3.zip
SONAR_DISTRIBUTION_URL=https://binaries.sonarsource.com/Distribution/sonarqube/sonarqube-7.3.zip
# Sonarqube version specified in the variable SONAR_DISTRIBUTION_URL
SONAR_VERSION=7.3

# Define if crowd should be used as auth provider
SONAR_AUTH_CROWD=true

# Define the identity provider domain name, if you use self signed certificates. Per default this points to the cluster name.
IDP_DNS=192.168.56.101.nip.io
