OC_PROJECT=cd
# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme_base64
AUTH_TOKEN=changeme_base64
CROWD_APPLICATION=sonarqube
CROWD_PASSWORD=changeme_base64
CROWD_URL=https://192.168.56.31:8095
DATABASE_JDBC_URL=jdbc:postgresql://sonarqube-postgresql:5432/sonarqube
DATABASE_NAME=sonarqube
DATABASE_PASSWORD=changeme_base64
DATABASE_USER=sonarqube
# Host without protocol exposed by the sonarqube route
SONARQUBE_HOST=sonarqube-cd.192.168.99.100.nip.io
STORAGE_CLASS_NAME=gp2
STORAGE_PROVISIONER=kubernetes.io/aws-ebs
