# Provision app setup

# The crowd keyuser group
KEYUSER_GROUP=bitbucket-administrators

# JIRA uri - including protocol
JIRA_URI=http://192.168.56.31:8080

# confluence url - including protocol
CONFLUENCE_URI=http://192.168.56.31:8090

# bitbucket url - inncluding protocol
BITBUCKET_URI=http://192.168.56.31:7990

# Rundeck url - including protocol
RUNDECK_URI=http://192.168.56.31:4440

# CROWD server url
CROWD_URL=http://192.168.56.31:8095

# Openshift API DNS - used to communicate from rundeck to oc for provisioning components
OPENSHIFT_API_HOST=https://192.168.99.100:8443

# Host DNS of the openshift console to create the right links
OPENSHIFT_CONSOLE_HOST=https://192.168.99.100:8443

# application domain of open shift for routes 
OPENSHIFT_APPS_BASEDOMAIN=.192.168.99.100.nip.io

# crowd user group
CROWD_USER_GROUP=bitbucket-administrators

# cd user name with read rights to git / bitbucket
CD_USER_ID=cd_user

# Default package prefix
PACKAGE_PREFIX=org.opendevstack

# (cookie) domain for atlassian tools - used for crowd
ATLASSIAN_DOMAIN=192.168.56.31

# Crowd password
CROWD_PASSWORD=changeme
JASYPT_PASSWORD=changeme

# Host and credentials for the mailhost
MAIL_HOST=opendevstack.org
MAIL_PASSWORD=changeme
MAIL_USERNAME=provision

# Logging
LOG_LEVEL_ATLASSIAN_CROWD=DEBUG
LOG_LEVEL_OPENDEVSTACK=DEBUG

# Jenkins pipeline trigger secret (raw)
PIPELINE_TRIGGER_SECRET=changeme
