# Provision app setup

# the storage class provisioner 
STORAGE_PROVISIONER=kubernetes.io/aws-ebs

# storage class for data
STORAGE_CLASS_DATA=gp2

# storage class for data backup
STORAGE_CLASS_BACKUP=gp2-encrypted
