# node js 8 slave setup

# repository base url. In case bitbucket is used, needs to include /scm - so it's the path in front on opendevstack/..
REPO_BASE=https://github.com

# Nexus URL exposed by the sonarqube route
NEXUS_URL=https://nexus-cd.192.168.99.100.nip.io

# Nexus (basic) authentication username:password
NEXUS_AUTH=developer:changeme
