# Nexus setup

# the storage class provisioner
# for AWS kubernetes.io/aws-ebs
STORAGE_PROVISIONER=""

# storage class for data
# for AWS gp2
STORAGE_CLASS_DATA=""

# storage class for data backup
# for AWS gp2-encrypted
STORAGE_CLASS_BACKUP=""
